
@{
    ViewBag.Title = "index";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Paging & Sorting</a>
    <div class="float-right">
        @Html.ActionLink("Pull Data", "pagedList", "dbItemTypeOne", null, new { @class = "btn btn-outline-success my-2 my-sm-0" })
        @Html.ActionLink("Pull Data", "pagedList", "dbItemTypeTwo", null, new { @class = "btn btn-outline-success my-2 my-sm-0" })
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">

        </div>
    </div>
</div>

